<footer>
    <div class="footer-container">
        <article class="articulo-footer">
            <i class="far fa-credit-card" id="iconito-azul"></i>
            <h5 class="descripciones">Pagá con tarjeta o en efectivo</i></h5>
            <p class="pfooter">Con MercadoLiebreCash tenés cuotas sin interés con tarjeta o efectivoen puntos de
                pago. ¡Y siempre es seguro!</p>
        </article>
        <article class="articulo-footer">
            <i class="fas fa-gift" id="iconito-azul"></i>    
            <h5 class="descripciones">Envío gratis desde los $ 2.500</h5>
            <p class="pfooter">Solo por estar registrad@ en MercadoLiebre tenés envíos gratis en miles de
                productos. Es un beneficio de MercadoPuntos.</p>
        </article>
        <article class="articulo-footer">
            <i class="fas fa-user-shield" id="iconito-azul"></i>
            <h5 class="descripciones">Seguridad, de principio a fin</h5>
            <p class="pfooter">¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer
                porque estás siempre prtegid@.</p>
        </article>
    </div>
        <div class="copyright">
            <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
        </div>
</footer>