<header>
    <div class="seccion-superior">
        <div class="container-logo-barra">
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre.svg" id="img-logo">
            <input type="text" id="barra-busqueda" name="barra-busqueda" placeholder="Buscar productos,marcas">                
            <label for="barra-busqueda"><i class="fa fa-search" id="label-busqueda"></i></label> 
        </div>
        <div class="p-logo">
            <p><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjetas de credito</p>
        </div>   

        <div class="menu-button">
            <i class="fas fa-bars"></i>
        </div> 
    </div>   
        <div class="nav">
            <ul class="first-row">
                <li>
                    <a href="/">Ofertas</a>
                </li>
                <li>
                    <a href="">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="/products/create">Vender</a>
                </li>
                <li>
                    <a href="">Ayuda</a>
                </li>
            </ul>
            <ul class="second-row">
                <li>
                    <a href="/users/register">Crea tu cuenta <i class="far fa-id-card"></i></a>
                </li>
                <li>
                    <a href="/users/login">Ingresa <i class="fas fa-sign-in-alt"></i></a>
                </li>
                <li>
                    <a href="">Mis Compras <i class="fas fa-shopping-basket"></i></a>
                </li>
            </ul>
    </div>
</header>